* ,
*::after,
*::before {
    box-sizing: border-box; 
    padding: 0; 
    margin: 0;
}

html {
    font-size: 12px;
}

body {
    font-size: 10px;
}

section {
    height: 400px;
    font-size: 20px;
    }

.square {
    width: 100vw;
    height: 50vh;
    background-color: blueviolet;
    }