* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 2.5 rem;
    font-weight: bold;
    margin: 0;
    color: white;
    min-width: 360px;

}

section {
    min-height: 100vh;
    background-color: rgb(108, 4, 104);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.box {
    background-color: rgb(181, 9, 172);
    max-width: 1000px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.elem {

    background-color: rgb(235, 101, 247);
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
}

.elem:first-child {
    flex-grow: 3;
    flex-shrink: 52;


}


@media screen and (max-width: 1100px) and (min-width: 1004px) {

    section {

        background-color: rgb(1, 9, 86);
    }

    .box {
        background-color: rgb(27, 0, 199);
    }

    .elem {
        background-color: rgb(69, 118, 255);

    }

}

@media screen and (max-width: 992px), (orientation: landscape) {

    section {

        background-color: rgb(0, 101, 93);
    }

    .box {
        background-color: rgb(0, 169, 155);
    }

    .elem {
        background-color: rgb(0, 238, 218);

    }

}


@media screen and (max-width: 541px) {

    section {

        background-color: rgb(111, 104, 0);
    }

    .box {
        background-color: rgb(214, 218, 0);
    }

    .elem {
        background-color: rgb(234, 247, 91);
    }
}