.system-font {
    font: 300 500 10px 1.2 Arial, Helvetica, sans-serif;
    font-stretch: ultra-condensed;
}

.local-font {

}

    /* font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 500;
    font-style: normal;
    font-variant: small-caps;
    line-height: 1.2; */


    font: 500 10px 1.2 Arial, Helvetica, sans-serif;
    font-stretch: ultra-condensed;