body {
    font-family: sans-serif;
    background-color: #f4f4f4;
}

.noteElement {
    border-top: 5px solid transparent;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: white;
}

.noteElement--yellow {
    border-top-color: #fcca78;
}
.noteElement--green {
    border-top-color: #b2e597;
}
