body {
    font-family: sans-serif;
    background-color: #f4f4f4;
}

.noteElement {
    border-top: 5px solid transparent;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: white;
}

.noteForm-title,
.noteForm-text {
    display: block;
    width: 30%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-family: sans-serif;
}

.noteForm-colorButton {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}

.noteForm-colorButton--yellow {
    background-color: #fcca78;
}
.noteForm-colorButton--green {
    background-color: #b2e597;
}
.noteForm-colorButton--blue {
    background-color: #5792e9;
}
.noteForm-colorButton--pink {
    background-color: #f58ab5;
}
.noteForm-colorButton--violet {
    background-color: #9853f3;
}
