body {
    background-color: lightgray;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}


p,
.href {
    color: rgb(245, 5, 237);
    line-height: 1.2;
}


.box,
.box2 {
    height: 150px;
    width: 300px;
    border: 5px solid rgb(245, 5, 237);
    background-color:   rgb(86, 3, 69);
    border-radius: 2rem;
    margin: 0 auto;
}

.box {
    margin-bottom: 100px;
}

