body {
    background-color: lightgray;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    
}

.box {
    height: 300px;
    width: 300px;
     background-color:   rgb(86, 3, 69);
     padding: 20px 50px 10px 70px;
     
}

p,
.href {
    color: rgb(245, 5, 237);
    line-height: 1.2;
    }

h1 {
    color: white;
}

