* {
    box-sizing: border-box;
    margin: 0;
}

/* 
body {
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

a {
    margin: 20px;
    color: green;
}

a:visited {
    color: red;
}

button {
    min-width: 100px;
    color: white;
    background-color: rgb(152, 41, 255);
    border: none;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(226, 43, 195);
    cursor: pointer;
    transform: translateY(1px);

}

button:focus-visible {
    outline: 2px solid blue;
}

button:active {
    transform: translateY(2px);
}

form {
    width: 500px;
    padding: 20px;
    display: flex;
    gap: 20px;
    border: 1px solid silver;
}

form :focus-within {
    background-color: aqua;
}

input {
    width: 50%;
    padding: 8px;
} */


ul {
    list-style: none;
    padding: 20px 0;
    display: flex;
}

a {
    margin: 20px;
}

section {
    height: 80vh;
    background-color: aquamarine;
    margin: 5px 0;
    padding: 50px;
    display: none;
}

section:target {
    background-color: blueviolet;
    display: block;
}